@import 'variables.css';

html {
	background-color: var(--bg);
	color: var(--fg);
	font-family: 'Ubuntu', 'M PLUS 1', 'Source Han Sans', sans-serif;
}

body {
	margin: 0 20px;
}

code {
	font-family: 'Ubuntu Mono', 'M PLUS 1 Code', monospace;
	background-color: var(--code-bg);
	border: 1px solid var(--code-border);
	width: 100%;
}

header {
	border-top: 2px solid var(--fg);
	border-bottom: 2px solid var(--fg);
	margin: 20px 0;
	> div {
		margin-bottom: 5px;
	}
}
h2 {
	border-bottom: 1px solid var(--fg);
	margin: 10px 0;
}
h3 {
	margin-top: 5px;
}

/* footer */
footer {
	border-top: 1px solid var(--fg);
	border-bottom: 1px solid var(--fg);
	margin: 20px 0;
	text-align: center;
}

/* table */

table {
	border: 2px solid var(--table-border);
	border-collapse: collapse;
}
th {
	background-color: var(--table-header);
}
th, td {
	border: 1px solid var(--table-border);
	padding: 0 20px;
}
tr:nth-child(2n) {
	background-color: var(--table-cell);
}

/* ul ol li */

li {
	margin-left: 1.5em;
}

a {
	color: var(--link);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}