@import 'variables.css';

html {
	background-color: var(--bg);
	color: var(--fg);
	font-family: 'Ubuntu', 'Source Han Sans', sans-serif;
}

body {
	margin: 0 20px;
}

code {
	font-family: 'Ubuntu Mono', 'M PLUS 1 Code', monospace;
	background-color: var(--code-bg);
	border: 1px solid var(--code-border);
	width: 100%;
}

header {
	border-top: 2px solid var(--fg);
	border-bottom: 2px solid var(--fg);
	margin: 20px 0;
	> div {
		margin-bottom: 5px;
	}
}
h2 {
	border-bottom: 1px solid var(--fg);
	margin: 10px 0;
}
h3 {
	margin-top: 5px;
}

/* footer */
footer {
	border-top: 1px solid var(--fg);
	border-bottom: 1px solid var(--fg);
	margin: 20px 0;
	text-align: center;
}

/* table */

table {
	border: 2px solid var(--table-border);
	border-collapse: collapse;
	margin-bottom: 1em;
}
th {
	background-color: var(--table-header);
}
th, td {
	border: 1px solid var(--table-border);
	padding: 0 20px;
}
tr:nth-child(2n) {
	background-color: var(--table-cell);
}

/* ul ol li */

li {
	margin-left: 1.5em;
}

a {
	color: var(--link);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* input */
input[type="button"] {
	background-color: var(--input-fg);
	border: 2px solid var(--input-border);
	color: white;
	padding: 0 0.5em;
}
input[type="button"]:disabled {
	background-color: var(--bg);
	color: gray;
}
input[type="checkbox"] {
	accent-color: var(--input-fg);
	
}
input[type="color"] {
	background-color: var(--input-bg);
	border: 2px solid var(--input-border);
}
input[type="number"] {
	background-color: var(--input-bg);
	border: 2px solid var(--input-border);
	width: 3em;
}
input[type="text"] {
	background-color: var(--input-bg);
	border: 2px solid var(--input-border);
	width: 5em;
}
select {
	background-color: var(--input-bg);
	border: 2px solid var(--input-border);
}
label {
	min-width: 6em;
}
fieldset {
	padding: 0.5em;
	padding-top: 0;
	border: 2px solid var(--input-border);
}
fieldset > div {
	margin: 0.1em;
}