.hour {
    text-align: center;
    width: 30px;
}

.train {
    text-align: center;
    margin: 5px 5px 0px 5px;
    display: inline-block;
} 

.trains {
    width: auto;
}

.train-minute {
    display: block;
    width: 30px;
    font-weight: 500;
}

.train-op {
    display: block;
    font-size: 50%;
}

.train-id {
    display: block;
    font-size: 50%;
}

.dest-shinkobe {
    text-decoration: underline;
}

.dest-myodani {
    border: 1px solid #000;
    width: 28px;
}

.car-hokushin {
    color: darkred;
    border-color: darkred;
    text-decoration-color: darkred;
}

.car-tanigami {
    color: darkblue;
    border-color: darkblue;
    text-decoration-color: darkblue;
}

.car-outofservice {
    color: red;
}

#jikoku-table {
    width: calc(100% - 20px);
}